<style>
    .footer{
        height: 150px;
        background-color: white;
    }
    .logo2 img{
        margin-top: 30px;
        margin-left: 80px;
        float: left;
    }
    .logo2{
        float: left;
    }
    .noidung p{
        font-size: 11px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 15px;
        position: relative;
        top: 35px;
        left: 70px;
}
    .mangxahoi img{
        height: 30px;
        margin-left: 30px;
    }
    .mangxahoi{
        position: relative;
        left: 800px;
        top: -20px;
    }
</style>
<div class="footer">
    <div class="logo2">
        <img src="images/logo.png" alt="">
    </div>
    <div class="noidung">
        <p>
            © 2022 - Bản quyền thuộc Công ty TNHH Công nghệ di động SMARTX - MaiNguyen.vn <br>
            Giấy phép số 79/GP-ICP-STTTT do Sở Thông tin và Truyền thông cấp ngày cấp ngày 8/10/2012 <br>
            Địa chỉ: 144 Võ Thị Sáu, P.VTS, Q.3, TP.HCM. Email: contact@mainguyen.vn. Chịu trách nhiệm nội dung: Đồng Văn Hòa <br>
            Số giấy chứng nhận đăng ký kinh doanh: 0354863578, đăng ký ngày 03.11.2006 tại Sở Kế Hoạch và Đầu Tư thành phố Hồ Chí Minh.
        </p>
    </div>
    <div class="mangxahoi">
        <img src="images/25.png" alt="">
        <img src="images/26.webp" alt="">
    </div>
</div>
